<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ramosx.tfwdealsapp</string>
    <key>ProgramArguments</key>
    <array>
		<string>/usr/bin/python2</string>
	<string>/Users/ramos/dev/tfwdeals/tfwdealsapp.py</string>
    </array>
    <key>StandardOutPath</key>
	 <string>//Users/ramos/dev/tfwdeals/tfwdealsapp.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ramos/dev/tfwdeals/tfwdealsapp.log</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>8</integer>
    </dict>
</dict>
</plist>
